body{
    background-image: url(https://decoandlemon.com/media/catalog/product/2/2/22040010_2_1.jpg);
  border: red 10px double;
  }
  header{
  
  height: 200px ;
      background-color: rgb(16, 164, 164);
  }
  .bgvideo{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .bgvideo video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }
  h1{
    font-size: 7vw;
    z-index: 2;
    color: #fff;
  }
  p{
    margin-left: 20px;
    margin-right: 20px;
  }
  nav{
      width: 15%;
     background-color: #00ffcc;
      float: left;
      color: #000;
  }
  ul{
      list-style: none;
  }
  
  main{
      width: 70%;
     
      float: left;
  }
  aside{
      
      width: 15%;
     background-color: #99ff00;
      float: left;
  }
  footer{
    clear: both;
      background-color: rgb(210, 152, 113);
      text-align: center;
      font-size: 40px;
   }
    
  
  article{
      background-color: #e68a64;
      margin: 10px;
      color: yellow;
  }
  
  a{
    text-decoration: none;
  }
  
  
  iframe{
    float: right;
  }
  
  @media only screen and (max-width:620px){
    nav,main,aside{
  width: 100%;
    }
  }
  marquee{
    background-color: #e68a64;
  }
  .h2{
    background-color: #e68a64;
  
  }
  
  .red{
    width: 100px;
    float: left;
    font-size: larger;
  }
  audio{
    float: left;
    margin-top: 10px;
  }
  .navig{
    background: fixed;
    position: fixed;
  margin:auto;
  background-color: bisque;
  font-size: 50px;
  margin-bottom: 30px;
  }
  .hov{
      height: 50px ;
      width: 90%;
      border: 2px blue double;
      margin: 5px;
      text-decoration: none;
          background-color: rgba(184, 97, 255, 0.982);
  
    
      text-align: center;
      font-size: larger;
      text-shadow: 0 0 10px rgb(255, 0, 0);
  
  }
  .hov:hover{
      background-color: aquamarine;
      transform: translateY(-5px);
      color: #000;
  }
  .ho{
    height: 45px ;
    width: 90%;
    border: 2px blue double;
    margin: 5px;
    text-decoration: none;
    color: #000;
    background-color: rgb(255, 255, 0);
    font-size: larger;
          text-shadow: 0 0 10px rgb(255, 0, 0);
    text-align: center;
   
  }
  
  .ho:hover{
    background-color: aquamarine;
     transform: translateY(-5px);
  
     color: #000;
  }
  h2{
    text-align: center;
  }
  .me{
    background-color: #000;
    font-size: 1cm;
    height: 400px;
  }
  
      .chai{
  background-image: url(https://img.freepik.com/free-photo/solid-painted-concrete-wall-textured-backdrop_53876-110677.jpg);
        font-weight: bolder; font-size: 24px;
        font-family: "Regular 400"; color: rgb(255, 255, 255);
      text-shadow: 0 0 5px rgb(255, 157, 157), 0 0 10px rgb(0, 0, 0);
      background-size: cover ;
        }
      
        .g{
        background-color: aliceblue;
        height: 650px;
        width: 350px;
          border:  double;
          padding: 40px ;
          float: right;
        }
        img{
          border: double;
        
        }
        .c{
          color: black;
          
        }
        .d{
          background-color: aliceblue;
        height: 450px;
        width: 300px;
          border:  double;
          padding: 40px ;
        }
        .k{
        
        height: 100px;
        width: 200px;
          
        }
      
        .e{
          background-color: blue;
        }
        .u{
          width: 230px ;
          padding-left: 20px;
        }
        .m{
          font-size: larger;
        text-shadow: 0 0 15px rgb(227, 99, 250), 0 0 20px rgb(227, 99, 250);
        }
        