table{
    border: double 2px rgb(255, 0, 0) ;
    width: 50%;
    font-size: 1cm;
}
th{
    border: double 2px rgb(255, 0, 0) ;
    color: rgb(0, 0, 0);

}
td{
    border: double 1px rgb(255, 0, 0) ;
 background-color: rgba(141, 141, 141, 0.005);   

font-size: 1cm ;
 color: rgb(0, 0, 0);
}
td:hover{
background-color: rgba(0, 167, 162, 0.373);
     font-weight: bolder;
    
color: rgb(0, 0, 0);
}
caption{
    font-weight: bolder;
}
body{
    background-image: url(https://64.media.tumblr.com/881e3d69a7d9c419fafd22a2101df496/tumblr_n77xqxwJIL1rp6cy1o1_500.gif);
    background-size: cover ;
}
